<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>F</key>
	<dict>
		<key>comma</key>
		<integer>-220</integer>
		<key>eight</key>
		<integer>-40</integer>
		<key>exclamdown</key>
		<integer>-100</integer>
		<key>four</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-220</integer>
		<key>public.kern2.A</key>
		<integer>-280</integer>
		<key>public.kern2.C</key>
		<integer>-30</integer>
		<key>public.kern2.Eth</key>
		<integer>-60</integer>
		<key>public.kern2.J</key>
		<integer>-240</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-50</integer>
		<key>questiondown</key>
		<integer>-190</integer>
		<key>six</key>
		<integer>-30</integer>
		<key>slash</key>
		<integer>-200</integer>
		<key>underscore</key>
		<integer>-310</integer>
	</dict>
	<key>Germandbls</key>
	<dict>
		<key>public.kern2.C</key>
		<integer>-40</integer>
	</dict>
	<key>Hbar</key>
	<dict>
		<key>X</key>
		<integer>-100</integer>
		<key>backslash</key>
		<integer>-100</integer>
		<key>dagger</key>
		<integer>-100</integer>
		<key>greater</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.J</key>
		<integer>-100</integer>
		<key>public.kern2.S</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-110</integer>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
		<key>public.kern2.parenright</key>
		<integer>-100</integer>
		<key>slash</key>
		<integer>-100</integer>
		<key>underscore</key>
		<integer>-100</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>backslash</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-220</integer>
		<key>eight</key>
		<integer>-50</integer>
		<key>exclamdown</key>
		<integer>-100</integer>
		<key>period</key>
		<integer>-200</integer>
		<key>public.kern2.A</key>
		<integer>-300</integer>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.Eth</key>
		<integer>-30</integer>
		<key>public.kern2.J</key>
		<integer>-240</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-40</integer>
		<key>questiondown</key>
		<integer>-200</integer>
		<key>six</key>
		<integer>-50</integer>
		<key>slash</key>
		<integer>-200</integer>
		<key>three</key>
		<integer>-60</integer>
		<key>two</key>
		<integer>-60</integer>
		<key>underscore</key>
		<integer>-300</integer>
	</dict>
	<key>Thorn</key>
	<dict>
		<key>X</key>
		<integer>-160</integer>
		<key>backslash</key>
		<integer>-100</integer>
		<key>paragraph</key>
		<integer>-80</integer>
		<key>public.kern2.A</key>
		<integer>-130</integer>
		<key>public.kern2.J</key>
		<integer>-70</integer>
		<key>public.kern2.S</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-140</integer>
		<key>public.kern2.Y</key>
		<integer>-160</integer>
		<key>public.kern2.Z</key>
		<integer>-80</integer>
		<key>public.kern2.parenright</key>
		<integer>-120</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-70</integer>
		<key>question</key>
		<integer>-30</integer>
		<key>slash</key>
		<integer>-100</integer>
		<key>three</key>
		<integer>-100</integer>
		<key>two</key>
		<integer>-100</integer>
		<key>underscore</key>
		<integer>-200</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>public.kern2.C</key>
		<integer>-100</integer>
		<key>public.kern2.Eth</key>
		<integer>-100</integer>
		<key>public.kern2.O</key>
		<integer>-90</integer>
		<key>six</key>
		<integer>-30</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>asterisk</key>
		<integer>-100</integer>
		<key>eight</key>
		<integer>-50</integer>
		<key>nine</key>
		<integer>-60</integer>
		<key>public.kern2.C</key>
		<integer>-90</integer>
		<key>public.kern2.Eth</key>
		<integer>-80</integer>
		<key>public.kern2.O</key>
		<integer>-100</integer>
		<key>six</key>
		<integer>-50</integer>
	</dict>
	<key>asciicircum</key>
	<dict>
		<key>less</key>
		<integer>-200</integer>
		<key>public.kern2.O</key>
		<integer>-100</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>backslash</key>
		<integer>-50</integer>
		<key>colon</key>
		<integer>0</integer>
		<key>exclamdown</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-300</integer>
		<key>public.kern2.period</key>
		<integer>-200</integer>
		<key>questiondown</key>
		<integer>-100</integer>
		<key>slash</key>
		<integer>-200</integer>
		<key>underscore</key>
		<integer>-200</integer>
	</dict>
	<key>at</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-130</integer>
		<key>public.kern2.V</key>
		<integer>-50</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>asciicircum</key>
		<integer>-200</integer>
		<key>asterisk</key>
		<integer>-200</integer>
		<key>backslash</key>
		<integer>-200</integer>
		<key>dagger</key>
		<integer>-200</integer>
		<key>degree</key>
		<integer>-200</integer>
		<key>exclam</key>
		<integer>-100</integer>
		<key>nine</key>
		<integer>-40</integer>
		<key>one</key>
		<integer>-100</integer>
		<key>paragraph</key>
		<integer>-200</integer>
		<key>percent</key>
		<integer>-100</integer>
		<key>public.kern2.C</key>
		<integer>-80</integer>
		<key>public.kern2.Eth</key>
		<integer>-100</integer>
		<key>public.kern2.O</key>
		<integer>-100</integer>
		<key>public.kern2.T</key>
		<integer>-160</integer>
		<key>public.kern2.U</key>
		<integer>-80</integer>
		<key>public.kern2.V</key>
		<integer>-250</integer>
		<key>public.kern2.Y</key>
		<integer>-200</integer>
		<key>public.kern2.quoteright</key>
		<integer>-150</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-200</integer>
		<key>question</key>
		<integer>-200</integer>
	</dict>
	<key>bullet</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
	</dict>
	<key>colon</key>
	<dict>
		<key>question</key>
		<integer>0</integer>
	</dict>
	<key>comma</key>
	<dict>
		<key>question</key>
		<integer>-330</integer>
	</dict>
	<key>dagger</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-300</integer>
	</dict>
	<key>degree</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-400</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>backslash</key>
		<integer>-90</integer>
		<key>exclam</key>
		<integer>-80</integer>
		<key>less</key>
		<integer>-100</integer>
		<key>one</key>
		<integer>-50</integer>
		<key>paragraph</key>
		<integer>-30</integer>
		<key>percent</key>
		<integer>-30</integer>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.V</key>
		<integer>-60</integer>
		<key>public.kern2.Y</key>
		<integer>-30</integer>
		<key>public.kern2.quoteright</key>
		<integer>-80</integer>
		<key>question</key>
		<integer>-50</integer>
		<key>three</key>
		<integer>-70</integer>
		<key>two</key>
		<integer>-50</integer>
	</dict>
	<key>exclam</key>
	<dict>
		<key>colon</key>
		<integer>0</integer>
		<key>eight</key>
		<integer>-80</integer>
		<key>exclamdown</key>
		<integer>-100</integer>
		<key>nine</key>
		<integer>-40</integer>
		<key>public.kern2.A</key>
		<integer>-130</integer>
		<key>public.kern2.O</key>
		<integer>-80</integer>
		<key>public.kern2.S</key>
		<integer>-70</integer>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
		<key>public.kern2.period</key>
		<integer>-120</integer>
		<key>public.kern2.quoteright</key>
		<integer>-40</integer>
		<key>questiondown</key>
		<integer>-100</integer>
		<key>slash</key>
		<integer>-100</integer>
		<key>underscore</key>
		<integer>-100</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
		<key>asterisk</key>
		<integer>-100</integer>
		<key>backslash</key>
		<integer>-100</integer>
		<key>exclam</key>
		<integer>-100</integer>
		<key>public.kern2.O</key>
		<integer>-80</integer>
		<key>public.kern2.V</key>
		<integer>-110</integer>
		<key>public.kern2.comma</key>
		<integer>0</integer>
		<key>public.kern2.quoteright</key>
		<integer>-70</integer>
		<key>question</key>
		<integer>-100</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-10</integer>
		<key>public.kern2.C</key>
		<integer>-30</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>backslash</key>
		<integer>-100</integer>
		<key>one</key>
		<integer>-30</integer>
		<key>percent</key>
		<integer>-70</integer>
		<key>public.kern2.V</key>
		<integer>-120</integer>
		<key>public.kern2.Y</key>
		<integer>-180</integer>
	</dict>
	<key>greater</key>
	<dict>
		<key>asciicircum</key>
		<integer>-200</integer>
		<key>eight</key>
		<integer>-100</integer>
		<key>greater</key>
		<integer>-200</integer>
		<key>paragraph</key>
		<integer>-100</integer>
	</dict>
	<key>less</key>
	<dict>
		<key>less</key>
		<integer>-200</integer>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.Eth</key>
		<integer>-100</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>X</key>
		<integer>-30</integer>
		<key>backslash</key>
		<integer>-80</integer>
		<key>degree</key>
		<integer>-30</integer>
		<key>exclam</key>
		<integer>-40</integer>
		<key>exclamdown</key>
		<integer>-60</integer>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.J</key>
		<integer>-30</integer>
		<key>public.kern2.S</key>
		<integer>-60</integer>
		<key>public.kern2.parenright</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-20</integer>
		<key>questiondown</key>
		<integer>-40</integer>
		<key>slash</key>
		<integer>-100</integer>
		<key>three</key>
		<integer>-60</integer>
		<key>two</key>
		<integer>-110</integer>
		<key>underscore</key>
		<integer>-100</integer>
	</dict>
	<key>numbersign</key>
	<dict>
		<key>colon</key>
		<integer>0</integer>
		<key>period</key>
		<integer>-120</integer>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.period</key>
		<integer>-120</integer>
		<key>slash</key>
		<integer>-100</integer>
		<key>underscore</key>
		<integer>-100</integer>
	</dict>
	<key>percent</key>
	<dict>
		<key>backslash</key>
		<integer>-100</integer>
		<key>paragraph</key>
		<integer>-200</integer>
		<key>percent</key>
		<integer>-100</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.quoteright</key>
		<integer>-90</integer>
		<key>question</key>
		<integer>-200</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>question</key>
		<integer>-330</integer>
	</dict>
	<key>periodcentered</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>asterisk</key>
		<integer>-300</integer>
		<key>backslash</key>
		<integer>-240</integer>
		<key>bullet</key>
		<integer>-100</integer>
		<key>dagger</key>
		<integer>-300</integer>
		<key>degree</key>
		<integer>-300</integer>
		<key>eight</key>
		<integer>-10</integer>
		<key>exclam</key>
		<integer>-130</integer>
		<key>nine</key>
		<integer>-80</integer>
		<key>one</key>
		<integer>-110</integer>
		<key>periodcentered</key>
		<integer>-100</integer>
		<key>public.kern2.C</key>
		<integer>-90</integer>
		<key>public.kern2.Eth</key>
		<integer>-100</integer>
		<key>public.kern2.O</key>
		<integer>-100</integer>
		<key>public.kern2.T</key>
		<integer>-180</integer>
		<key>public.kern2.U</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-320</integer>
		<key>public.kern2.Y</key>
		<integer>-220</integer>
		<key>public.kern2.quoteright</key>
		<integer>-210</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-200</integer>
		<key>question</key>
		<integer>-310</integer>
		<key>six</key>
		<integer>-40</integer>
		<key>zero</key>
		<integer>-80</integer>
	</dict>
	<key>public.kern1.B</key>
	<dict>
		<key>backslash</key>
		<integer>-50</integer>
		<key>exclam</key>
		<integer>-40</integer>
		<key>exclamdown</key>
		<integer>-50</integer>
		<key>public.kern2.C</key>
		<integer>-20</integer>
		<key>public.kern2.Eth</key>
		<integer>-20</integer>
		<key>public.kern2.comma</key>
		<integer>-50</integer>
		<key>three</key>
		<integer>-70</integer>
		<key>two</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.C</key>
	<dict>
		<key>backslash</key>
		<integer>-20</integer>
		<key>public.kern2.A</key>
		<integer>-10</integer>
		<key>public.kern2.C</key>
		<integer>-20</integer>
		<key>three</key>
		<integer>-80</integer>
		<key>two</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.D</key>
	<dict>
		<key>X</key>
		<integer>-90</integer>
		<key>ampersand</key>
		<integer>-30</integer>
		<key>asciicircum</key>
		<integer>-170</integer>
		<key>asterisk</key>
		<integer>-30</integer>
		<key>backslash</key>
		<integer>-100</integer>
		<key>comma</key>
		<integer>-90</integer>
		<key>dagger</key>
		<integer>-60</integer>
		<key>degree</key>
		<integer>-60</integer>
		<key>eight</key>
		<integer>-50</integer>
		<key>exclam</key>
		<integer>-90</integer>
		<key>exclamdown</key>
		<integer>-60</integer>
		<key>greater</key>
		<integer>-30</integer>
		<key>nine</key>
		<integer>-30</integer>
		<key>paragraph</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-90</integer>
		<key>public.kern2.A</key>
		<integer>-90</integer>
		<key>public.kern2.J</key>
		<integer>-40</integer>
		<key>public.kern2.S</key>
		<integer>-60</integer>
		<key>public.kern2.V</key>
		<integer>-90</integer>
		<key>public.kern2.Y</key>
		<integer>-90</integer>
		<key>public.kern2.Z</key>
		<integer>-40</integer>
		<key>public.kern2.comma</key>
		<integer>-90</integer>
		<key>public.kern2.parenright</key>
		<integer>-50</integer>
		<key>public.kern2.period</key>
		<integer>0</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-70</integer>
		<key>question</key>
		<integer>-50</integer>
		<key>questiondown</key>
		<integer>-40</integer>
		<key>seven</key>
		<integer>-40</integer>
		<key>slash</key>
		<integer>-110</integer>
		<key>three</key>
		<integer>-110</integer>
		<key>two</key>
		<integer>-130</integer>
		<key>underscore</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.E</key>
	<dict>
		<key>public.kern2.C</key>
		<integer>-20</integer>
		<key>public.kern2.Eth</key>
		<integer>-50</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.I</key>
	<dict>
		<key>exclam</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.J</key>
	<dict>
		<key>comma</key>
		<integer>-130</integer>
		<key>eight</key>
		<integer>-40</integer>
		<key>exclamdown</key>
		<integer>-80</integer>
		<key>period</key>
		<integer>-110</integer>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.S</key>
		<integer>-40</integer>
		<key>questiondown</key>
		<integer>-40</integer>
		<key>slash</key>
		<integer>-100</integer>
		<key>underscore</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.K</key>
	<dict>
		<key>ampersand</key>
		<integer>-100</integer>
		<key>asciitilde</key>
		<integer>-200</integer>
		<key>asterisk</key>
		<integer>-100</integer>
		<key>bullet</key>
		<integer>-200</integer>
		<key>dagger</key>
		<integer>-100</integer>
		<key>degree</key>
		<integer>-60</integer>
		<key>eight</key>
		<integer>-100</integer>
		<key>multiply</key>
		<integer>-100</integer>
		<key>nine</key>
		<integer>-100</integer>
		<key>paragraph</key>
		<integer>-100</integer>
		<key>periodcentered</key>
		<integer>-200</integer>
		<key>public.kern2.C</key>
		<integer>-210</integer>
		<key>public.kern2.Eth</key>
		<integer>-130</integer>
		<key>public.kern2.O</key>
		<integer>-210</integer>
		<key>public.kern2.S</key>
		<integer>-100</integer>
		<key>public.kern2.comma</key>
		<integer>20</integer>
		<key>public.kern2.hyphen</key>
		<integer>-200</integer>
		<key>public.kern2.plus</key>
		<integer>-200</integer>
		<key>public.kern2.quoteright</key>
		<integer>-60</integer>
		<key>question</key>
		<integer>-100</integer>
		<key>questiondown</key>
		<integer>-100</integer>
		<key>section</key>
		<integer>-100</integer>
		<key>six</key>
		<integer>-160</integer>
		<key>zero</key>
		<integer>-200</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>asciicircum</key>
		<integer>-180</integer>
		<key>backslash</key>
		<integer>-200</integer>
		<key>dagger</key>
		<integer>-180</integer>
		<key>degree</key>
		<integer>-180</integer>
		<key>one</key>
		<integer>-100</integer>
		<key>paragraph</key>
		<integer>-300</integer>
		<key>percent</key>
		<integer>-100</integer>
		<key>public.kern2.C</key>
		<integer>-20</integer>
		<key>public.kern2.Eth</key>
		<integer>-50</integer>
		<key>public.kern2.T</key>
		<integer>-200</integer>
		<key>public.kern2.U</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-240</integer>
		<key>public.kern2.Y</key>
		<integer>-200</integer>
		<key>public.kern2.quoteright</key>
		<integer>-100</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-160</integer>
		<key>question</key>
		<integer>-230</integer>
	</dict>
	<key>public.kern1.O</key>
	<dict>
		<key>X</key>
		<integer>-90</integer>
		<key>asciicircum</key>
		<integer>-100</integer>
		<key>backslash</key>
		<integer>-100</integer>
		<key>exclam</key>
		<integer>-80</integer>
		<key>exclamdown</key>
		<integer>-80</integer>
		<key>public.kern2.A</key>
		<integer>-100</integer>
		<key>public.kern2.S</key>
		<integer>-60</integer>
		<key>public.kern2.T</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-80</integer>
		<key>public.kern2.Z</key>
		<integer>-30</integer>
		<key>public.kern2.parenright</key>
		<integer>-30</integer>
		<key>slash</key>
		<integer>-100</integer>
		<key>three</key>
		<integer>-100</integer>
		<key>two</key>
		<integer>-100</integer>
		<key>underscore</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.R</key>
	<dict>
		<key>ampersand</key>
		<integer>-40</integer>
		<key>asciicircum</key>
		<integer>-200</integer>
		<key>backslash</key>
		<integer>-130</integer>
		<key>dagger</key>
		<integer>-80</integer>
		<key>degree</key>
		<integer>-70</integer>
		<key>eight</key>
		<integer>-50</integer>
		<key>exclam</key>
		<integer>-100</integer>
		<key>nine</key>
		<integer>-80</integer>
		<key>one</key>
		<integer>-80</integer>
		<key>paragraph</key>
		<integer>-100</integer>
		<key>public.kern2.C</key>
		<integer>-130</integer>
		<key>public.kern2.Eth</key>
		<integer>-100</integer>
		<key>public.kern2.O</key>
		<integer>-110</integer>
		<key>public.kern2.S</key>
		<integer>-40</integer>
		<key>public.kern2.T</key>
		<integer>-70</integer>
		<key>public.kern2.U</key>
		<integer>-70</integer>
		<key>public.kern2.V</key>
		<integer>-100</integer>
		<key>public.kern2.Y</key>
		<integer>-100</integer>
		<key>public.kern2.quoteright</key>
		<integer>-90</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-80</integer>
		<key>question</key>
		<integer>-80</integer>
		<key>questiondown</key>
		<integer>-70</integer>
		<key>six</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.S</key>
	<dict>
		<key>backslash</key>
		<integer>-90</integer>
		<key>exclam</key>
		<integer>-60</integer>
		<key>exclamdown</key>
		<integer>-30</integer>
		<key>nine</key>
		<integer>-40</integer>
		<key>one</key>
		<integer>-50</integer>
		<key>percent</key>
		<integer>-30</integer>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.Eth</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-50</integer>
		<key>public.kern2.T</key>
		<integer>-20</integer>
		<key>public.kern2.V</key>
		<integer>-50</integer>
		<key>public.kern2.Y</key>
		<integer>-40</integer>
		<key>public.kern2.Z</key>
		<integer>-40</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-30</integer>
		<key>question</key>
		<integer>-30</integer>
		<key>slash</key>
		<integer>-30</integer>
		<key>three</key>
		<integer>-50</integer>
		<key>two</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.T</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-180</integer>
		<key>public.kern2.J</key>
		<integer>-200</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.S</key>
		<integer>-20</integer>
		<key>questiondown</key>
		<integer>-100</integer>
		<key>slash</key>
		<integer>-160</integer>
		<key>underscore</key>
		<integer>-200</integer>
	</dict>
	<key>public.kern1.V</key>
	<dict>
		<key>eight</key>
		<integer>-60</integer>
		<key>exclamdown</key>
		<integer>-110</integer>
		<key>four</key>
		<integer>-100</integer>
		<key>numbersign</key>
		<integer>-70</integer>
		<key>public.kern2.A</key>
		<integer>-320</integer>
		<key>public.kern2.C</key>
		<integer>-100</integer>
		<key>public.kern2.Eth</key>
		<integer>-110</integer>
		<key>public.kern2.J</key>
		<integer>-240</integer>
		<key>public.kern2.O</key>
		<integer>-100</integer>
		<key>public.kern2.S</key>
		<integer>-50</integer>
		<key>public.kern2.period</key>
		<integer>-80</integer>
		<key>questiondown</key>
		<integer>-200</integer>
		<key>six</key>
		<integer>-100</integer>
		<key>slash</key>
		<integer>-250</integer>
		<key>underscore</key>
		<integer>-260</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>eight</key>
		<integer>-40</integer>
		<key>four</key>
		<integer>-100</integer>
		<key>numbersign</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-220</integer>
		<key>public.kern2.C</key>
		<integer>-100</integer>
		<key>public.kern2.Eth</key>
		<integer>-100</integer>
		<key>public.kern2.J</key>
		<integer>-200</integer>
		<key>public.kern2.O</key>
		<integer>-80</integer>
		<key>public.kern2.S</key>
		<integer>-40</integer>
		<key>questiondown</key>
		<integer>-160</integer>
		<key>six</key>
		<integer>-80</integer>
		<key>slash</key>
		<integer>-200</integer>
		<key>underscore</key>
		<integer>-200</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>paragraph</key>
		<integer>-60</integer>
		<key>public.kern2.C</key>
		<integer>-40</integer>
		<key>public.kern2.O</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.comma</key>
	<dict>
		<key>backslash</key>
		<integer>-200</integer>
		<key>exclam</key>
		<integer>-100</integer>
	</dict>
	<key>public.kern1.five</key>
	<dict>
		<key>backslash</key>
		<integer>-80</integer>
		<key>degree</key>
		<integer>-60</integer>
		<key>five</key>
		<integer>-30</integer>
		<key>nine</key>
		<integer>-70</integer>
		<key>one</key>
		<integer>-80</integer>
		<key>paragraph</key>
		<integer>-70</integer>
		<key>percent</key>
		<integer>-40</integer>
		<key>public.kern2.C</key>
		<integer>-30</integer>
		<key>public.kern2.Eth</key>
		<integer>-20</integer>
		<key>public.kern2.O</key>
		<integer>-20</integer>
		<key>public.kern2.T</key>
		<integer>-30</integer>
		<key>public.kern2.V</key>
		<integer>-70</integer>
		<key>public.kern2.Y</key>
		<integer>-50</integer>
		<key>public.kern2.Z</key>
		<integer>-40</integer>
		<key>public.kern2.quoteright</key>
		<integer>-60</integer>
		<key>public.kern2.quotesingle</key>
		<integer>-70</integer>
		<key>question</key>
		<integer>-60</integer>
		<key>slash</key>
		<integer>-60</integer>
		<key>three</key>
		<integer>-70</integer>
		<key>two</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.guilsinglright</key>
	<dict>
		<key>asciicircum</key>
		<integer>-200</integer>
	</dict>
	<key>public.kern1.parenleft</key>
	<dict>
		<key>public.kern2.C</key>
		<integer>-60</integer>
		<key>public.kern2.Eth</key>
		<integer>-100</integer>
		<key>public.kern2.O</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.period</key>
	<dict>
		<key>asterisk</key>
		<integer>0</integer>
		<key>backslash</key>
		<integer>-100</integer>
		<key>exclam</key>
		<integer>-120</integer>
		<key>paragraph</key>
		<integer>-40</integer>
		<key>public.kern2.period</key>
		<integer>0</integer>
		<key>question</key>
		<integer>-330</integer>
	</dict>
	<key>public.kern1.plus</key>
	<dict>
		<key>public.kern2.quoteright</key>
		<integer>20</integer>
	</dict>
	<key>public.kern1.quoteleft</key>
	<dict>
		<key>asterisk</key>
		<integer>-40</integer>
		<key>eight</key>
		<integer>-80</integer>
		<key>exclamdown</key>
		<integer>-100</integer>
		<key>four</key>
		<integer>-100</integer>
		<key>nine</key>
		<integer>-30</integer>
		<key>numbersign</key>
		<integer>-100</integer>
		<key>parenleft</key>
		<integer>-50</integer>
		<key>periodcentered</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-300</integer>
		<key>public.kern2.C</key>
		<integer>-80</integer>
		<key>public.kern2.Eth</key>
		<integer>-100</integer>
		<key>public.kern2.J</key>
		<integer>-270</integer>
		<key>public.kern2.O</key>
		<integer>-80</integer>
		<key>public.kern2.hyphen</key>
		<integer>-100</integer>
		<key>public.kern2.quoteleft</key>
		<integer>-30</integer>
		<key>six</key>
		<integer>-100</integer>
		<key>slash</key>
		<integer>-240</integer>
		<key>underscore</key>
		<integer>-60</integer>
	</dict>
	<key>public.kern1.quoteright</key>
	<dict>
		<key>public.kern2.quoteright</key>
		<integer>-30</integer>
	</dict>
	<key>public.kern1.quotesingle</key>
	<dict>
		<key>numbersign</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-200</integer>
	</dict>
	<key>question</key>
	<dict>
		<key>eight</key>
		<integer>-50</integer>
		<key>exclamdown</key>
		<integer>-100</integer>
		<key>numbersign</key>
		<integer>-60</integer>
		<key>public.kern2.A</key>
		<integer>-300</integer>
		<key>public.kern2.C</key>
		<integer>-50</integer>
		<key>public.kern2.J</key>
		<integer>-200</integer>
		<key>public.kern2.S</key>
		<integer>-50</integer>
		<key>public.kern2.period</key>
		<integer>0</integer>
		<key>questiondown</key>
		<integer>-200</integer>
		<key>slash</key>
		<integer>-200</integer>
		<key>underscore</key>
		<integer>-200</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>asterisk</key>
		<integer>-100</integer>
		<key>backslash</key>
		<integer>-200</integer>
		<key>exclam</key>
		<integer>-100</integer>
		<key>nine</key>
		<integer>-60</integer>
		<key>paragraph</key>
		<integer>-200</integer>
		<key>percent</key>
		<integer>-200</integer>
		<key>public.kern2.A</key>
		<integer>-30</integer>
		<key>public.kern2.T</key>
		<integer>-100</integer>
		<key>public.kern2.V</key>
		<integer>-200</integer>
		<key>public.kern2.Y</key>
		<integer>-200</integer>
		<key>question</key>
		<integer>-200</integer>
	</dict>
	<key>section</key>
	<dict>
		<key>public.kern2.quoteleft</key>
		<integer>-20</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>ampersand</key>
		<integer>-40</integer>
		<key>eight</key>
		<integer>-100</integer>
		<key>exclamdown</key>
		<integer>-100</integer>
		<key>four</key>
		<integer>-110</integer>
		<key>nine</key>
		<integer>-40</integer>
		<key>numbersign</key>
		<integer>-140</integer>
		<key>public.kern2.A</key>
		<integer>-250</integer>
		<key>public.kern2.C</key>
		<integer>-120</integer>
		<key>public.kern2.Eth</key>
		<integer>-100</integer>
		<key>public.kern2.J</key>
		<integer>-200</integer>
		<key>public.kern2.O</key>
		<integer>-100</integer>
		<key>public.kern2.S</key>
		<integer>-110</integer>
		<key>public.kern2.comma</key>
		<integer>-100</integer>
		<key>public.kern2.period</key>
		<integer>-100</integer>
		<key>public.kern2.quoteright</key>
		<integer>-40</integer>
		<key>question</key>
		<integer>-50</integer>
		<key>questiondown</key>
		<integer>-160</integer>
		<key>six</key>
		<integer>-110</integer>
		<key>slash</key>
		<integer>-250</integer>
		<key>underscore</key>
		<integer>-200</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>asterisk</key>
		<integer>-50</integer>
		<key>eight</key>
		<integer>-90</integer>
		<key>exclamdown</key>
		<integer>-100</integer>
		<key>four</key>
		<integer>-100</integer>
		<key>nine</key>
		<integer>-30</integer>
		<key>numbersign</key>
		<integer>-100</integer>
		<key>public.kern2.A</key>
		<integer>-240</integer>
		<key>public.kern2.C</key>
		<integer>-90</integer>
		<key>public.kern2.Eth</key>
		<integer>-70</integer>
		<key>public.kern2.J</key>
		<integer>-200</integer>
		<key>public.kern2.O</key>
		<integer>-100</integer>
		<key>public.kern2.S</key>
		<integer>-90</integer>
		<key>public.kern2.comma</key>
		<integer>-180</integer>
		<key>public.kern2.period</key>
		<integer>-100</integer>
		<key>questiondown</key>
		<integer>-200</integer>
		<key>six</key>
		<integer>-100</integer>
		<key>slash</key>
		<integer>-200</integer>
		<key>underscore</key>
		<integer>-200</integer>
	</dict>
	<key>underscore</key>
	<dict>
		<key>backslash</key>
		<integer>-300</integer>
		<key>paragraph</key>
		<integer>-440</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>public.kern2.A</key>
		<integer>-80</integer>
		<key>public.kern2.J</key>
		<integer>-30</integer>
	</dict>
</dict>
</plist>
